body{
	margin:0;
	padding:0;
	font-family:arial;
	background-color:000;
}
.full-body{
	margin:0 auto;
	width:1200px;
}
/*header start*/
.header{
	display:flex;
	justify-content:space-between;
	background:#683091;
}.logo img{
			width: 90px;
			height: 35px;
			margin-top: 5px;
			margin-left: 5px;
        }
.top-line {
	color: white;
	margin-left:0px;
	margin-top: 0px;
	padding-left: 4px;
	padding: 4px;
}
.right-side{
	padding: 30px 20px;

}
.src-btn{
	border: 1px solid #196F3D ;
	border-radius: 4px;
	color: white;
	background: #34740e;
	margin-left: 10px;
}
.src{
	height: 25px;
	border-radius:5px; 
}
/*Header end*/

/*slider start*/
.slider{
	width:100%;
	height:400px;
	background-image:url(http://www.bteb.gov.bd/sites/default/files/files/bteb.portal.gov.bd/top_banner/7699e582_282e_47e5_b32d_ec8847a6fbc1/banner_5.jpg);
	background-repeat: round;
}
/*slider end*/
/*navbar start*/
.menubar{
  background-color: #FAFAFA;
  overflow: hidden; 
}
.menubar a {
  float: left;
  color: red;
  text-align: center;
  padding: 15px 23px;
  text-decoration: none;
  font-size: 17px;
  border-bottom:1px dotted #ccc;
  border-left:1px dotted #ccc;
  border-right:1px dotted #ccc;
  }
 .menubar a:hover {
  background-color: #ddd;
  color: black;
}
/*Navbar end*/